tbody {
  border: 1px solid #ddd;
}

td {
  padding: 0.2em;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tbody > tr:hover {
  background-color: #eee;
}
table {
  width: 100%;
  text-align: left;
}

.search {
  width: 36em;
}

body {
  margin: 1em;
}
